
        <!--
        `7MMF'`7MN.   `7MF'`7MM"""Yb. `7MM"""YMM  `YMM'   `MP'
          MM    MMN.    M    MM    `Yb. MM    `7    VMb.  ,P
          MM    M YMb   M    MM     `Mb MM   d       `MM.M'
          MM    M  `MN. M    MM      MM MMmmMM         MMb
          MM    M   `MM.M    MM     ,MP MM   Y  ,    ,M'`Mb.
          MM    M     YMM    MM    ,dP' MM     ,M   ,P   `MM.
        .JMML..JML.    YM  .JMMmmmdP' .JMMmmmmMMM .MM:.  .:MMa.
                      START INDEX PAGE
                                                            -->
        <div id="content">
          <div class="container index">
            <div class="row">
            {% if IndexLayout == "Topics" %}
              <div class="columns large-12 centered">
            {% else %}
              <div class="columns medium-12 large-8 {% if desk.page.theme.layout != 'left' %} columns large-push-4 {% endif %}">
            {% endif %}
                <div id="desk-external-variables-page_index" class="desk-external-variables">
                  <div id="system-snippets-just_moderated">{{just_moderated}}</div>
                </div>
                <div class="row header">
                  <div class="columns medium-12">
                    <h2>
                      {% if topics_count > 0 %}
                          {{system.snippets.browse_by_topic}}
                      {% else %}
                          {{system.snippets.no_topics_avail}}
                      {% endif %}
                    </h2>
                  </div>
                </div>

                <!--START GRID VIEW (DEFAULT) -->
                  <!-- ARTICLES GRID VIEW -->
                  <div class="row topic">
                    {% assign col = 0 %}
                    {%for topic in topics%}
                      {% if topic.article_count > 0 %}
                          <div class="desk-topic desk-topic-{{ topic.id }} columns medium-6">
                            <h3>
                               <a href='{{ topic.public_articles_url }}'>{{ topic.name }}</a></h3>
                            <ul>
                              {% for article in topic.articles limit:5 %}
                              <li>
                                <a href='{{ article.public_url }}'>{{ article.subject_plain }}</a>
                              </li>
                              {% endfor %}
                            </ul>
                            <a href='{{ topic.public_articles_url }}' class="button tiny"><span class="desk-view-text">{{system.snippets.view_all}} </span>
                              {{ topic.article_count }}
                            </a>
                          </div>

                          {% if col == 2 %}
                            </div><div class="row topic">
                            {%assign col = 0 %}
                          {%else%}
                            {% assign col = 2 %}
                          {%endif%}

                      {%endif%}
                    {%endfor%}
                  </div>
                  <!-- END ARTICLES GRID VIEW -->

                  <!-- QUESTION GRID VIEW -->
                  {% if site.questions_enabled_config %}
                    <!-- DO QUESTIONS EXIST?-->
                    {%for topic in topics %}
                        {% if topic.question_count > 0 %}
                            {% assign questions = true %}
                        {% endif %}
                    {% endfor %}
                    <!-- END QUESTIONS EXIST -->
                    {% if questions == true %}
                    <div class="row header">
                        <div class="columns medium-12">
                            <h2>{{system.snippets.recent_qna}}</h2>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row topic">
                      {% assign col = 0 %}
                        {%for topic in topics%}
                          {% if topic.question_count > 0 %}
                            <div class="desk-qna desk-qna-{{ topic.id }} columns medium-6">
                              <h3><a href='{{ topic.public_articles_url }}'>{{ topic.name }}</a></h3>
                              <ul>
                                {% for question in topic.questions limit:5 %}
                                <li class='desk-question {% if question.featured? %} featured{%endif%}'>
                                  <a href='{{ question.public_url }}'>{{ question.subject_plain }}</a>
                                </li>
                                {% endfor %}
                              </ul>

                              <a href='{{ topic.public_questions_url  }}' class="button tiny"><span class="desk-view-text">{{system.snippets.view_all}} </span>
                                {{ topic.question_count }}
                              </a>
                            </div>
                            {% if col == 2 %}
                              </div><div class="row topic">
                              {%assign col = 0 %}
                            {%else%}
                              {% assign col = 2 %}
                            {%endif%}
                          {% endif %}
                        {% endfor %}
                      </div><!-- .topicContainer.row -->
                  {% endif %}
                <!-- END GRID VIEW -->
              </div><!--Index Col 8 -->
              <!--SIDEBAR -->
              {{ sidebar_main }}
              <!--SIDEBAR -->
            </div><!-- Main Row-->
          </div><!--Container-->
        </div><!--Content-->
