
        <!--
        `7MMF'        .g8""8q.     .g8"""bgd `7MMF'`7MN.   `7MF'
          MM        .dP'    `YM. .dP'     `M   MM    MMN.    M
          MM        dM'      `MM dM'       `   MM    M YMb   M
          MM        MM        MM MM            MM    M  `MN. M
          MM      , MM.      ,MP MM.    `7MMF' MM    M   `MM.M
          MM     ,M `Mb.    ,dP' `Mb.     MM   MM    M     YMM
        .JMMmmmmMMM   `"bmmd"'     `"bmmmdPY .JMML..JML.    YM
                        BEGIN LOGIN
                                                           -->
        <div id="content">
          <div class="container login">
            <div class="body row">
              <div class="columns medium-6 columns medium-offset-3">
                <div id="desk-external-variables-myportal_show" class="desk-external-variables hide">
                  <div id="system-snippets-email_required" class=""><p class="error">{{system.snippets.email_required}}</p></div>
                  <div id="system-snippets-invalid_email" class="alert hide">{{system.snippets.invalid_email}}</div>
                  <div id="system-snippets-password_required" class="alert hide">{{system.snippets.password_required}}</div>
                </div>
                <div class="panel panel-default form login">
                  <div class="panel-body">
                    <h2>{{desk.system.snippets.login_title}}</h2>
                    {{desk.page.content.form}}
                  </div>
                </div>
                <div class="options">
                  <ul>
                    <li class="create"></li>
                    <li class="reset"></li>
                  </ul>
                </div>
              </div>
            </div><!-- body.row -->
          </div><!-- .container.login -->
        </div><!-- #content -->
