
          <!--
          `7MM"""Mq.   .g8""8q. `7MM"""Mq. MMP""MM""YMM   db      `7MMF'
            MM   `MM..dP'    `YM. MM   `MM.P'   MM   `7  ;MM:       MM
            MM   ,M9 dM'      `MM MM   ,M9      MM      ,V^MM.      MM
            MMmmdM9  MM        MM MMmmdM9       MM     ,M  `MM      MM
            MM       MM.      ,MP MM  YM.       MM     AbmmmqMA     MM      ,
            MM       `Mb.    ,dP' MM   `Mb.     MM    A'     VML    MM     ,M
          .JMML.       `"bmmd"' .JMML. .JMM.  .JMML..AMA.   .AMMA..JMMmmmmMMM
                          BEGIN MY PORTAL INDEX
                                                                              -->
          <div id="registration-in-progress" class="hide">
            <img alt='Ajax-loader-small' src='{{ "/images/ajax-loader-small.gif" | portal_image_url: image_asset_host }}' />
            {{desk.system.snippets.registration_in_progress}}
          </div>
          <div id="content">
            <div class="container myportal index">
              <div class="row">
                <div class="columns medium-12">
                  <div class="header row">
                    <div class="columns medium-4 small-12">
                        <select id="CaseFilter" class="form-control">
                          <option value="my">{{desk.system.snippets.show_my_cases}}</option>
                          {% if desk.customer.can_access_company_tickets? %}
                          <option value="company" selected="selected">{{desk.system.snippets.show_all_cases}}</option>
                          {% endif %}
                          <option value="7">{{desk.system.snippets.show_last_num_days | format_snippet: '"num":"7"' }}</option>
                          <option value="30">{{desk.system.snippets.show_last_num_days | format_snippet: '"num":"30"' }}</option>
                        </select>
                    </div>
                    <div class="columns medium-4 small-6">
                        <div class="switch left">
                          <input class="checkbox" id="ActiveOnly" type="checkbox" name="checkbox"></input>
                          <label for="ActiveOnly"></label>
                        </div>
                        <h6 class="left">&nbsp; &nbsp;{{desk.system.snippets.active_only}}</h6>
                    </div>
                    <div class="columns medium-4 small-6">
                      {% if site.email_enabled_config %}
                        <a href="{{desk.system.links.email}}" class="button right ">{{desk.system.snippets.create_new_case}}</a>
                      {% endif %}
                    </div>
                  </div>
                  <div class="body row">
                    <div class="columns medium-12">
                      <table id="MyCases" class="{% if MyCasesSort == true %} sort {% endif %}" width="100%">
                        <thead>
                          <tr>
                            <th>{{desk.system.snippets.case_id}}</th>
                            <th class="hide-for-small-only">{{desk.system.snippets.assigned_agent}}</th>
                            <th>{{desk.system.snippets.subject}}</th>
                            {% if desk.customer.can_access_company_tickets? %}
                            <th class="hide-for-small-only">{{desk.system.snippets.from}}</th>
                            {% endif %}
                            <th class="hide-for-small-only">{{desk.system.snippets.updated}}</th>
                            <th class="hide-for-small-only">{{desk.system.snippets.status}}</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for case in desk.page.content.cases %}
                          <tr>
                            <td class='a-caseid'>{{ case.id }}</td>
                            <td class="hide-for-small-only"><span>{{case.user.name_public | show_something: desk.system.snippets.unassigned}}</span></td>
                            <td class='a-casesubject'><img src='{{ case.channel_icon }}'/> <a href="{{ case.portal_url }}">{{ case.subject | clip:50 }}</a></td>
                            {% if desk.customer.can_access_company_tickets? %}
                            <td class='a-casefrom hide-for-small-only'>{{case.customer.first_name}}</td>
                            {% endif %}
                            <td class='a-casecreated hide-for-small-only'>{{ case.updated_at | in_time_zone: site.timezone | date: '%b %d %Y' }}</td>
                            <td class='a-casestatus hide-for-small-only'>{% case case.status.id %}
                              {% when 10 %}
                              {{desk.system.snippets.case_new}}
                              {% when 30 %}
                              {{desk.system.snippets.case_open}}
                              {% when 50 %}
                              {{desk.system.snippets.case_pending}}
                              {% when 70 %}
                              {{desk.system.snippets.case_resolved}}
                              {% when 90 %}
                              {{desk.system.snippets.case_closed}}
                              {% endcase %}
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                      <div id='pagination'>
                        {{ desk.page.content.more_cases_block }}
                      </div>
                    </div>
                  </div><!-- .row -->
                </div>
              </div><!-- .row-->
            </div><!-- .portal-->
          </div><!-- #content -->
          {% if MyCasesSort == true %}
            <input id="MyCaseSort" class="hidden hide" value="true" />
          {% endif %}