
        <!--
        `7MM"""Mq.   db       .M"""bgd  .M"""bgd `7MMF'     A     `7MF' .g8""8q. `7MM"""Mq.  `7MM"""Yb.
          MM   `MM. ;MM:     ,MI    "Y ,MI    "Y   `MA     ,MA     ,V .dP'    `YM. MM   `MM.   MM    `Yb.
          MM   ,M9 ,V^MM.    `MMb.     `MMb.        VM:   ,VVM:   ,V  dM'      `MM MM   ,M9    MM     `Mb
          MMmmdM9 ,M  `MM      `YMMNq.   `YMMNq.     MM.  M' MM.  M'  MM        MM MMmmdM9     MM      MM
          MM      AbmmmqMA   .     `MM .     `MM     `MM A'  `MM A'   MM.      ,MP MM  YM.     MM     ,MP
          MM     A'     VML  Mb     dM Mb     dM      :MM;    :MM;    `Mb.    ,dP' MM   `Mb.   MM    ,dP'
        .JMML. .AMA.   .AMMA.P"Ybmmd"  P"Ybmmd"        VF      VF       `"bmmd"' .JMML. .JMM..JMMmmmdP'
                        BEGIN PASSWORD
                                                                                                        -->
        <div id="desk-external-variables-forgot_password" class="desk-external-variables hide">
          <div id="system-snippets-email_required">{{system.snippets.email_required}}</div>
          <div id="system-snippets-invalid_email">{{system.snippets.invalid_email}}</div>
        </div>
        <div id="content">
          <div class="container password">
            <div class="row">
              <div class="columns medium-6 medium-offset-3">
                <div id="desk-external-variables-myportal_show" class="desk-external-variables hide">
                  <div id="system-snippets-email_required" class=""><p class="error">{{system.snippets.email_required}}</p></div>
                  <div id="system-snippets-invalid_email" class="alert hide">{{system.snippets.invalid_email}}</div>
                  <div id="system-snippets-password_required" class="alert hide">{{system.snippets.password_required}}</div>
                </div>
               <div class="panel panel-default form login">
                  <div class="panel-body clearfix">
                    <h2 class="text-center">{{desk.system.snippets.password_reset_title}}</h2>
                    {{desk.page.content.form}}
                  </div>
                </div> 
              </div>
            </div>
          </div>
        </div>
