
        <!--
        `7MM"""Mq.  `7MM"""YMM    .g8"""bgd `7MMF' .M"""bgd MMP""MM""YMM `7MM"""YMM  `7MM"""Mq.
          MM   `MM.   MM    `7  .dP'     `M   MM  ,MI    "Y P'   MM   `7   MM    `7    MM   `MM.
          MM   ,M9    MM   d    dM'       `   MM  `MMb.          MM        MM   d      MM   ,M9
          MMmmdM9     MMmmMM    MM            MM    `YMMNq.      MM        MMmmMM      MMmmdM9
          MM  YM.     MM   Y  , MM.    `7MMF' MM  .     `MM      MM        MM   Y  ,   MM  YM.
          MM   `Mb.   MM     ,M `Mb.     MM   MM  Mb     dM      MM        MM     ,M   MM   `Mb.
        .JMML. .JMM..JMMmmmmMMM   `"bmmmdPY .JMML.P"Ybmmd"     .JMML.    .JMMmmmmMMM .JMML. .JMM.
                        BEGIN REGISTER
                                                                                             -->
        <div id="desk-external-variables-registration" class="desk-external-variables hide">
          <div id="system-snippets-email_required">{{system.snippets.email_required}}</div>
          <div id="system-snippets-invalid_email">{{system.snippets.invalid_email}}</div>
        </div>
        <div id="content">
          <div class="container register">
            <div class="row">
              <div class="columns medium-6 columns medium-offset-3">
                <div id="desk-external-variables-myportal_show" class="desk-external-variables hide">
                  <div id="system-snippets-email_required" class=""><p class="error">{{system.snippets.email_required}}</p></div>
                  <div id="system-snippets-invalid_email" class="alert hide">{{system.snippets.invalid_email}}</div>
                  <div id="system-snippets-password_required" class="alert hide">{{system.snippets.password_required}}</div>
                </div>
                <div class="panel panel-default form login">
                  <div class="panel-body">
                    <h2>{{desk.system.snippets.registration_title}}</h2>
                       <div id='form' class='registration-form'>
                        {{desk.page.content.form}}
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
